<div class="d-flex">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae saepe laudantium nisi ducimus. Consequuntur, minus nobis dolorum perspiciatis in, itaque, rem rerum corrupti voluptatem voluptate omnis sit earum. Architecto!
      </div>
    </div>

  </div>

</div>